
body {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #070707;
}

.container {
    width: 970px;
    margin: 0 auto;
}

.flex__center {
    display: flex;
    justify-content: center;
}

.nav__link {
    text-decoration: none;
    color: #828282;
    letter-spacing: 0.02em;
    line-height: 25px;
}

.nav__link:active {
    color: #070707;
}


.header_li {
    margin: 0 20px;
}

.ul__nav {
    padding: 25px 0;
    border-bottom: 1px solid #828282;
    
}

h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    padding-bottom: 50px;
}

.full__width {
    width: 100%;
}

.hero {
    padding: 10px 0 0;
}

h3 {
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    padding-top: 100px;
}

.h3__about__me {
    padding-bottom: 50px;
}

p {
    text-align: center;
    line-height: 25px;
}

.p__about_me {
    padding-top: 30px;
}

.grey__bg {
    background: #F6F6F6;
}

.section__about_me {
    padding-bottom: 100px;
}

.p__skils {
    padding-top: 20px;
}

.skills__container {
    gap: 100px;
    padding-top: 50px;
}

.specific__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 170px;
}

h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #828282;
    width: 78px;
    padding-top: 25px;
}

.h5__ae {
    width: 100px;
}


.rating__container {
    display: flex;
    gap: 10px;
    padding: 60px 0 100px;
}

.rating__container--padding {
    padding-top: 80px;
}

.h3__portfolio {
    padding-bottom: 50px;
}

.portfolio__item {
    padding-bottom: 70px;
}

.portfolio__item:last-child {
    padding-bottom: 100px;
}

.portfolio__link {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    display: block;
    padding-top: 40px;
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.btn__description {
    
    width: 280px;
    padding: 20px 0 60px;
}

.btn {
    font-family: 'Open Sans';
    background: #070707;
    border-radius: 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 10px 16px;
    border: 0;
}

.ul__footer {
    padding-top: 30px;
    width: 310px;
    gap: 50px;
}

.footer__nav_description {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
    width: 200px;
    padding-top: 60px;
}

.footer__nav_description--line_break {
    display: block;
}